<md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
        <span>{{game.word.Word}}</span>
    </div>
</md-toolbar>


<md-list flex>
    <md-subheader class="md-no-sticky">{{game.word.Word}}</md-subheader>
    <md-list-item class="md-3-line" ng-repeat="value in game.word.Options" ng-click="save(game.gameId, game.word, $index)">
        <div class="md-list-item-text" layout="column">
            <h3>{{ value }}</h3>
            <h4>qwerqewreqwr</h4>
            <p>{asdfadsfadfssadf</p>
        </div>
    </md-list-item>
</md-list>